{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <h1>Tabla de aula</h1>

    <table id="tablaaula">
        <thead>
            <tr>
                <th>id</th>
                <th>descripcion</th>
                <th>acciones</th>
            </tr>
        </thead>
        <tbody id="cuerpoTablaaula"></tbody>
    </table>

    <div style="text-align: right; margin-top: 10px;">
        <span style="aular: pointer; color: green;" onclick="agregaraula()">
            &#43; Agregar aula
        </span>
    </div>
    <script>

        function agregaraula() {
            window.location.href = '/agregaraula';    
        }

        document.addEventListener("DOMContentLoaded", function () {
            obtenerListaaula();

            function obtenerListaaula() {
                fetch('http://127.0.0.1:8000/curso/aula/aula/')  
                    .then(response => response.json())
                    .then(data => mostrarListaaula(data))
                    .catch(error => console.error('Error:', error));
            }

            function mostrarListaaula(aula) {
                var cuerpoTablaaula = document.getElementById('cuerpoTablaaula');

                aula.forEach(function (aula) {
                    var fila = cuerpoTablaaula.insertRow();

                    var celdaaula = fila.insertCell(0);
                    celdaaula.textContent = aula.idaula;

                    var celdaFacultad = fila.insertCell(1);
                    celdaFacultad.textContent = aula.descripcion;
                
                    var celdaAcciones = fila.insertCell(2);
                    var iconoLapiz = document.createElement('span');
                    iconoLapiz.innerHTML = '&#9998;';  // Lápiz
                    iconoLapiz.className = 'accion-icono';
                    iconoLapiz.onclick = function() {
                        editaraula(aula.idaula);
                    };

                    var iconoPapelera = document.createElement('span');
                    iconoPapelera.innerHTML = '&#128465;';  
                    iconoPapelera.className = 'accion-icono';
                    iconoPapelera.onclick = function() {
                        var confirmacion = confirm('¿Estás seguro de que deseas eliminar el aula con ID ' + aula.idaula + '?');
                        
                        if (confirmacion) {

                            eliminaraula(aula.idaula);
                        } else {
                            // nada
                        }
                    };

                    celdaAcciones.appendChild(iconoLapiz);
                    celdaAcciones.appendChild(iconoPapelera);
                });
            }
            function editaraula(id) {
                window.location.href = '/editaraula/?idaula=' + id + '/';
            }
            function eliminaraula(id) {
                fetch('http://127.0.0.1:8000/curso/aula/aula/' + id + '/', {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al eliminar el aula');
                    }
                    return response.json();
                })
                .then(data => {
                    alert('aula eliminado con éxito');
                    obtenerListaaula();
                })
                .catch(error => console.error('Error:', error));
            }

        });
    </script>

{% endblock %}
