{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div style="margin-bottom: 10px;">
        <label for="filtroclase">Filtrar por clase:</label>
        <input type="text" id="filtroclase" oninput="filtrarclases()">
    </div>

    <h1>Tabla de clases</h1>

    <table id="tablaclases">
        <thead>
            <tr>
                <th>hora inicio</th>
                <th>hora fin</th>
                <th>tema</th>
                <th>curso</th>
                <th>aula</th>
                <th>profesor</th>
                <th>firmado</th>
                <th>acciones</th>

            </tr>
        </thead>
        <tbody id="cuerpoTablaclases"></tbody>
    </table>

    <div style="text-align: right; margin-top: 10px;">
        <span style="cursor: pointer; color: green;" onclick="agregarclases()">
            &#43; Agregar clases
        </span>
    </div>
    <script>
        function filtrarclases() {
            var input, filter, table, tbody, tr, td, i, txtValue;
            input = document.getElementById("filtroclase");
            filter = input.value.toUpperCase();
            table = document.getElementById("tablaclases");
            tbody = table.getElementsByTagName("tbody")[0];
            tr = tbody.getElementsByTagName("tr");
        
            for (i = 0; i < tr.length; i++) {
                var validacionCell = tr[i].getElementsByTagName("td")[6];
                var profesorCell = tr[i].getElementsByTagName("td")[5];
        
                if (validacionCell && profesorCell) {
                    var validacion = validacionCell.textContent || validacionCell.innerText;
                    var profesor = profesorCell.textContent || profesorCell.innerText;
        
                    if (validacion.toUpperCase().indexOf(filter) > -1 || profesor.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function formatearFecha(fecha) {
            const options = { year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric' };
            return new Date(fecha).toLocaleString('es-ES', options);
        }

        function agregarclases() {
            window.location.href = '/agregarclase';    
        }

        document.addEventListener("DOMContentLoaded", function () {
            obtenerListaclases();

            function obtenerListaclases() {
                fetch('http://127.0.0.1:8000/curso/clase/clase/')  
                    .then(response => response.json())
                    .then(data => mostrarListaclases(data))
                    .catch(error => console.error('Error:', error));
            }

            function mostrarListaclases(clases) {
                var cuerpoTablaclases = document.getElementById('cuerpoTablaclases');

                clases.forEach(function (clases) {
                    var fila = cuerpoTablaclases.insertRow();

                    var horainicio = fila.insertCell(0);
                    horainicio.textContent = formatearFecha(clases.hora_inicio);
                    
                    var horafin = fila.insertCell(1);
                    horafin.textContent = formatearFecha(clases.hora_fin);

                    var tema = fila.insertCell(2);
                    tema.textContent = clases.tema;

                    var curso = fila.insertCell(3);
                    curso.textContent = clases.curso;

                    var aula = fila.insertCell(4);
                    aula.textContent = clases.aula;

                    var profesor = fila.insertCell(5);
                    profesor.textContent = clases.profesor_ID;

                    var estado = fila.insertCell(6);
                    estado.textContent = clases.validacion;

                    var celdaAcciones = fila.insertCell(7);
                    var iconoLapiz = document.createElement('span');
                    iconoLapiz.innerHTML = '&#9998;';  // Lápiz
                    iconoLapiz.className = 'accion-icono';
                    iconoLapiz.onclick = function() {
                        editarclases(clases.id);
                    };

                    var iconoPapelera = document.createElement('span');
                    iconoPapelera.innerHTML = '&#128465;';  
                    iconoPapelera.className = 'accion-icono';
                    iconoPapelera.onclick = function() {
                        var confirmacion = confirm('¿Estás seguro de que deseas eliminar el clases con ID ' + clases.id + '?');
                        
                        if (confirmacion) {

                            eliminarclases(clases.id);
                        } else {
                            // nada
                        }
                    };
                    var iconoEstado = document.createElement('span');
                    iconoEstado.className = 'accion-icono';
            

                    if (clases.validacion) {
                        iconoEstado.innerHTML = '&#10004;';  
                        iconoEstado.style.color = 'green';
                    } else {
                        iconoEstado.innerHTML = '&#10008;';  
                    }
            
                    estado.appendChild(iconoEstado);
                    celdaAcciones.appendChild(iconoLapiz);
                    celdaAcciones.appendChild(iconoPapelera);
                });
            }
            function editarclases(id) {
                window.location.href = '/editarclase/?id=' + id + '/';
            }
            function eliminarclases(id) {
                fetch('http://127.0.0.1:8000/curso/clase/clase/' + id + '/', {
                    method: 'DELETE',
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al eliminar el clases');
                    }
                    alert('clases eliminado con éxito');
                    obtenerListaclases();
                })
                .catch(error => console.error('Error:', error));
            }

        });
    </script>

{% endblock %}
