<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar clase</title>
</head>
<body>

    <h1>Agregar clase</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar clase</button>
    </form>

    <button type="button" id="botonCancelar">Cancelar</button>

    <script>
        var botonCancelar = document.getElementById('botonCancelar');
        botonCancelar.addEventListener('click', function () {
            window.history.back();
        });
    
        {% if mensaje %}
            alert("{{ mensaje }}");
            {% if not form.errors %}
                window.location.href = '/clase';
            {% endif %}
        {% endif %}
    </script>
    
</body>
</html>