{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <title>Resultados de la Consulta</title>
</head>

<body>
    <div style="margin-bottom: 10px;">
        <label for="filtroclase">Filtrar por profesor:</label>
        <input type="text" id="filtroclase" oninput="filtrarclases()">
    </div>

    <h1>Resultados de la Consulta</h1>

    <table id="tablaResultados">
        <thead>
            <tr>
                <th>Ciclo</th>
                <th>Curso ID</th>
                <th>Info Programa</th>
                <th>Grupo</th>
                <th>Descripción</th>
                <th>Hora de Inicio</th>
                <th>Hora de Fin</th>
                <th>Tema</th>
                <th>Aula</th>
                <th>Número de Clases Vistas</th>
                <th>Número de Aula</th>
                <th>Profesor</th>
                <th>Firma</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
                <tr>
                    <td>{{ resultado.0 }}</td>
                    <td>{{ resultado.1 }}</td>
                    <td>{{ resultado.2 }}</td>
                    <td>{{ resultado.3 }}</td>
                    <td>{{ resultado.4 }}</td>
                    <td>{{ resultado.5 }}</td>
                    <td>{{ resultado.6 }}</td>
                    <td>{{ resultado.7 }}</td>
                    <td>{{ resultado.8 }}</td>
                    <td>{{ resultado.9 }}</td>
                    <td>{{ resultado.10 }}</td>
                    <td>{{ resultado.11 }}</td>
                    <td>
                        {% if resultado.12 %}
                            <span style="color: green;">&#10004;</span>
                        {% else %}
                            <span style="color: red;">&#10008;</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function filtrarclases() {
            var input, filter, table, tbody, tr, td, i, txtValue;
            input = document.getElementById("filtroclase");
            filter = input.value.toUpperCase();
            table = document.getElementById("tablaResultados");
            tbody = table.getElementsByTagName("tbody")[0];
            tr = tbody.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                var validacionCell = tr[i].getElementsByTagName("td")[12];
                var profesorCell = tr[i].getElementsByTagName("td")[11];

                if (validacionCell && profesorCell) {
                    var validacion = validacionCell.textContent || validacionCell.innerText;
                    var profesor = profesorCell.textContent || profesorCell.innerText;

                    if (validacion.toUpperCase().indexOf(filter) > -1 || profesor.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</body>
{% endblock %}
