
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <title>Agregar curso</title>
</head>
<body>

    <h1>Agregar curso</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-container">
            <button type="button" id="botonGuardarCambios">Guardar cambios</button>
            <button type="button"id="botonCancelar" class="cancel-button">Cancelar</button>
        </div>
    </form>

    <script>
        var botonCancelar = document.getElementById('botonCancelar');
        botonCancelar.addEventListener('click', function () {
            window.history.back();
        });
    
        {% if mensaje %}
            alert("{{ mensaje }}");
            {% if not form.errors %}
                window.location.href = '/curso';
            {% endif %}
        {% endif %}
    </script>
    
</body>
</html>