{% extends 'base.html'%}

{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">

  <div id="container">
    <h1>Log In</h1>
    <span class="close-btn">
      <img src="{% static 'images/logo-biometrixUCC.png' %}" alt="Descripción de la imagen">
    </span>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
    
        <input type="text" name="username" placeholder="Nombre de usuario">
        <input type="password" name="password" placeholder="Password">
    
        <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
{% endblock %}