{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Principal</title>
</head>

<body> 

<link rel="stylesheet" href="{% static 'css/login.css' %}">

  <div id="container">
    <h1>Log In</h1>
    <span class="close-btn">
      <img src="{% static 'images/logo-biometrixUCC.png' %}" alt="Descripción de la imagen">
    </span>

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
    
        <input type="text" name="username" placeholder="Nombre de usuario">
        <input type="password" name="password" placeholder="Password">
    
        <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</body>