{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/styleNavbar.css' %}">
</head>
<body>
  <nav>
    <ul class="menuItems">
      {% if user.is_authenticated %}
      <li><a href="{% url 'mainPage' %}" class="nav-link">home</a></li>
      <li><a href="{% url 'programas' %}">programa</a></li>
      <li><a href="{% url 'curso' %}">curso</a></li>
      <li><a href="{% url 'aula' %}">aula</a></li>
      <li><a href="{% url 'clase' %}">clases</a></li>
      <li><a href="{% url 'usuario' %}">usuarios</a></li>
      <li><a href="{% url 'generarTabla' %}">tabla general</a></li>
      <li><a href="{% url 'signout' %}">logout</a></li>
      {% endif %}
    </ul>
  </nav>

</body>
</html>